body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darkred
}

button {
  background-color: darkred;
  color: white;
  border: none;
}

.badge {
  color: white;
  padding: 10px;
  margin: 5px;
  text-align: center;
}