<!doctype html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <!-- Primary Meta Tags -->
  <title>NA-Radar</title>
  <meta name="title" content="NA-Radar" />
  <meta name="description" content="Suivi des mouvements d'avions sur l'aéroport de Nantes-Atlantique" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://na-radar.matteli.fr/" />
  <meta property="og:title" content="NA-Radar">
  <meta property="og:description" content="Suivi des mouvements d'avions sur l'aéroport de Nantes-Atlantique" />
  <meta property="og:image" content="https://na-radar.matteli.fr/media/preview.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://na-radar.matteli.fr/" />
  <meta property="twitter:title" content="NA-Radar" />
  <meta property="twitter:description" content="Suivi des mouvements d'avions sur l'aéroport de Nantes-Atlantique" />
  <meta property="twitter:image" content="https://na-radar.matteli.fr/media/preview.png" />

  <!--- favicon --->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" />
  <link rel="mask-icon" href="{{ url_for('static', filename='favicon.svg') }}" color="#000000">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>

<body>
  <h1>
    <a id="title" href="/"><img id="title_icon" src="{{ url_for('static', filename='favicon.svg') }}"
        alt="na-radar icon" width="48" height="48" /> NA-Radar</a>
  </h1>
  {% block content %}{% endblock %}
  <footer>
    NA-Radar | Ces graphiques ne sont donnés qu'à titre informatif | <a href="https://github.com/matteli/na-radar"> <img
        id="github_icon" src="{{ url_for('static', filename='GitHub-Mark-Light-32px.png') }}" alt="Source sur Github"
        width="16" height="16" /> </a> | <a href="https://fr.tipeee.com/na-radar"> <img id="tipeee_icon"
        src="{{ url_for('static', filename='tipeee_tip_btn.png') }}" alt="tip" width="30" height="16" /> </a>
  </footer>
  {% block script %}{% endblock %}
</body>