{% extends "base.html" %}
{% block content %}
<p>Les différents graphiques présentent les conditions de mouvements (décollage, atterrissage) d'avions sur l'aéroport de Nantes-Atlantique pour les dix compagnies aériennes les plus représentées :
  <ul>
    <li>
      Le graphique "Couvre-feu" indiquent le nombre d'avions par compagnie décollant ou atterrissant pendant le couvre-feu (de 0h à 6h).
    </li>
    <li>
      Le graphique "Horaires" indiquent le nombre de mouvements d'avions par compagnie pendant le couvre-feu (de 0h à 6h) ou le reste de la journée.
    </li>
    <li>
      Le graphique "Zones" indiquent le nombre de mouvements d'avions par compagnie par le sud ou par le nord.
    </li>
    <li>
      Le graphique "Mouvements et horaires" indiquent le nombre d'avions par compagnie décollant ou atterrissant pendant le couvre-feu (de 0h à 6h) ou le reste de la journée.
    </li>
    <li>
      Le graphique "Zones et horaires" indiquent le nombre de mouvements d'avions par compagnie utilisant l'aéroport par le sud ou par le nord pendant le couvre-feu (de 0h à 6h) ou le reste de la journée.
    </li>
    <li>
      Le graphique "Zones et mouvements" indiquent le nombre d'avions par compagnie décollant ou atterrissant par le sud ou par le nord.
    </li>
  </ul>
</p>
<p>
  Il est possible de filtrer par dates en indiquant le début et la fin (jours compris) de la prise en compte des vols.
</p>
<p>
  Tout changement de date et/ou de type de graphique doit être validé par le boutton OK.
</p>
<p>
  Le boutton LIVE permet de suivre automatiquement l'évolution du graphique sans avoir besoin de recharger la page.
</p>
<br />
<br />
{% endblock %}
